@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);

$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$circle-radius: 50px;

body {
  font-family: 'Overpass';
  margin: 0;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 28px;
}

p {
  margin-top: 8px;
  color: $light-grey;
  font-size: 15px;
  line-height: 150%;
}

.rating {
  box-sizing: border-box;
  background: radial-gradient(
    circle at top,
    $dark-blue 0%,
    $very-dark-blue 100%
  );
  border-radius: 26px;
  height: 412px;
  width: 412px;
  padding: 32px;
  padding-bottom: 28px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .star {
    width: $circle-radius;
    height: $circle-radius;
    background-color: $dark-blue;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .numbers {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      font-family: 'Overpass';
      background-color: $dark-blue;
      display: grid;
      place-items: center;
      border-radius: 50%;
      border: none;
      height: $circle-radius;
      width: $circle-radius;
      color: $light-grey;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        background-color: $orange;
        color: white;
      }
    }

    h1 {
      margin-bottom: 0;
    }

    .active {
      background-color: $medium-grey;
      color: white;
    }
  }

  .submit {
    margin-top: 18px;
    background-color: $orange;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    width: 100%;
    padding: 14px;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $orange;
    }
  }
}

.thank-you {
  box-sizing: border-box;
  background: radial-gradient(
    circle at top,
    $dark-blue 0%,
    $very-dark-blue 100%
  );
  border-radius: 26px;
  height: 412px;
  width: 412px;
  padding: 32px;
  padding-bottom: 28px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    margin: 12px;
    width: 160px;
  }

  h1 {
    text-align: center;
    margin-bottom: 8px;
  }

  p {
    text-align: center;
  }

  .selected-msg {
    margin-top: 16px;
    background-color: hsl(25, 97%, 53%, 0.1);
    border-radius: 24px;
    padding: 8px 16px;
    color: $orange;
  }
}

.hidden {
  display: none;
}
